@import 'colors';
@import 'fonts';

.footer {
    background-color: $footer;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__h2{
        font-family: $font-josefin;
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 3.35px;
    }

    &__p {
        font-family: $font-josefin;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 1.6px;
    }

    &__some-icons {
       margin-right: 15px;
    }
}