@import 'colors';
@import 'fonts';

.section3 {
    display: grid;
    background-image: url("../images/back_img_section3.jpg");
    grid-column: 1 / span 35; 

}

.card3 {
    grid-column-start: 5;
    grid-column-end: 15; 
    grid-row-start: 3;
//  Can't get the backgroundcolor to show. I have tried card, .card, wrapping it in a div instead. It doesn't show.

    &__h2 {
        color: $lightgrey;
        font-family: $font-josefin;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 1.5px;
        text-align: left;
    }

    &__h3 {
        color: $white;
        font-family: $font-josefin;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;
    } 
    
    &__p {
        color: $lightgrey;
        font-family: $font-josefin;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;
    }

    &__btn {
        font-family: $font-aleo;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 1.2px;
        text-align: center;
        background-color: $lightblue;
        color: $white;
        width: 228px;
        height: 63px;
        border: none;
    }
    
}