@import 'colors';
@import 'fonts';
@import 'header';
@import 'footer';

body {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

// .container__grid {
//     display: grid;
//     grid-template-columns: repeat(35, 1fr);
//     grid-template-rows: repeat(6, 1fr);
//     grid-column-gap: 2px;
//     grid-row-gap: 2px;
//     }


